Sphinx==4.2.0
sphinx-autobuild
sphinx-copybutton
sphinx-gitstamp
sphinx-material
sphinxcontrib-applehelp
sphinxcontrib-contentui
sphinxcontrib-devhelp
sphinxcontrib-fulltoc
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-srclinks
sphinx-prompt>=1.0
sphinx-rtd-theme>=0.1
