apiVersion: pxc.percona.com/v1
kind: PerconaXtraDBCluster
metadata:
  name: minimal-cluster
spec:
  crVersion: 1.19.0
  secretsName: minimal-cluster-secrets
  unsafeFlags:
    tls: true
    pxcSize: true
    proxySize: true
  upgradeOptions:
    apply: disabled
    schedule: "0 4 * * *"
  tls:
    enabled: false
  pxc:
    size: 1
    image: perconalab/percona-xtradb-cluster-operator:main-pxc8.0
    volumeSpec:
      persistentVolumeClaim:
        resources:
          requests:
            storage: 6G
  haproxy:
    enabled: true
    size: 1
    image: perconalab/percona-xtradb-cluster-operator:main-haproxy
  logcollector:
    enabled: true
    image: perconalab/fluentbit:main-logcollector
