apiVersion: pxc.percona.com/v1
kind: PerconaXtraDBCluster
metadata:
  name: minimal-cluster
spec:
  crVersion: 1.15.1
  secretsName: minimal-cluster-secrets
  unsafeFlags:
    tls: true
    pxcSize: true
    proxySize: true
  upgradeOptions:
    apply: disabled
    schedule: "0 4 * * *"
  tls:
    enabled: false
  pxc:
    size: 1
    image: percona/percona-xtradb-cluster:8.0.36-28.1
    volumeSpec:
      persistentVolumeClaim:
        resources:
          requests:
            storage: 6G
  haproxy:
    enabled: true
    size: 1
    image: percona/haproxy:2.8.5
  logcollector:
    enabled: true
    image: percona/percona-xtradb-cluster-operator:1.15.1-logcollector-fluentbit3.1.4
