apiVersion: "pxc.percona.com/v1alpha1"
kind: "PerconaXtraDBCluster"
metadata:
  name: "cluster1"
  finalizers:
    - delete-pxc-pods-in-order
    # - delete-proxysql-pvc
    # - delete-pxc-pvc
spec:
  secretsName: my-cluster-secrets
  pxc:
    size: 3
    allowUnsafeConfigurations: false
    image: perconalab/pxc-openshift:0.2.0
    resources:
      requests:
        memory: 1G
        cpu: 600m
      # limits:
      #   memory: 1G
      #   cpu: "1"
    volumeSpec:
      # storageClass: standard
      accessModes: [ "ReadWriteOnce" ]
      size: 6Gi
    affinity:
      topologyKey: "kubernetes.io/hostname"
      # advanced:
    # nodeSelector:
    #   disktype: ssd
    # tolerations: 
    # - key: "node.alpha.kubernetes.io/unreachable"
    #   operator: "Exists"
    #   effect: "NoExecute"
    #   tolerationSeconds: 6000
    # priorityClassName: high-priority
    # annotations:
    #   iam.amazonaws.com/role: role-arn
    # imagePullSecrets:
    #   - name: private-registry-credentials
    # labels:
    #   rack: rack-22
  proxysql:
    enabled: true
    size: 1
    image: perconalab/proxysql-openshift:0.2.0
    resources:
      requests:
        memory: 1G
        cpu: 600m
      # limits:
      #   memory: 1G
      #   cpu: 700m
    volumeSpec:
      # storageClass: standard
      accessModes: [ "ReadWriteOnce" ]
      size: 2Gi
    # affinity:
    #   topologyKey: "failure-domain.beta.kubernetes.io/zone"
    #   # advanced:
    # nodeSelector:
    #   disktype: ssd
    # tolerations: 
    # - key: "node.alpha.kubernetes.io/unreachable"
    #   operator: "Exists"
    #   effect: "NoExecute"
    #   tolerationSeconds: 6000
  pmm:
    enabled: false
    image: perconalab/pmm-client:1.17.0
    serverHost: monitoring-service
    serverUser: pmm
  backup:
    image: perconalab/backupjob-openshift:0.2.0
    # imagePullSecrets:
    #   - name: private-registry-credentials
    schedule:
      - name: "sat-night-backup"
        schedule: "0 0 * * 6"
        keep: 3
        volume:
        # storageClass: standard
          size: 6Gi
