---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: perconaxtradbclusterbackups.pxc.percona.com
spec:
  group: pxc.percona.com
  names:
    kind: PerconaXtraDBClusterBackup
    listKind: PerconaXtraDBClusterBackupList
    plural: perconaxtradbclusterbackups
    shortNames:
    - pxc-backup
    - pxc-backups
    singular: perconaxtradbclusterbackup
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster name
      jsonPath: .spec.pxcCluster
      name: Cluster
      type: string
    - description: Storage name from pxc spec
      jsonPath: .status.storageName
      name: Storage
      type: string
    - description: Backup destination
      jsonPath: .status.destination
      name: Destination
      type: string
    - description: Job status
      jsonPath: .status.state
      name: Status
      type: string
    - description: Completed time
      jsonPath: .status.completed
      name: Completed
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          priorityClassName:
            type: string
          schedulerName:
            type: string
          spec:
            properties:
              pxcCluster:
                type: string
              storageName:
                type: string
            type: object
          status:
            properties:
              completed:
                format: date-time
                type: string
              destination:
                type: string
              lastscheduled:
                format: date-time
                type: string
              s3:
                properties:
                  bucket:
                    type: string
                  credentialsSecret:
                    type: string
                  endpointUrl:
                    type: string
                  region:
                    type: string
                type: object
              state:
                type: string
              storageName:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
