---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: perconaxtradbclusterrestores.pxc.percona.com
spec:
  group: pxc.percona.com
  names:
    kind: PerconaXtraDBClusterRestore
    listKind: PerconaXtraDBClusterRestoreList
    plural: perconaxtradbclusterrestores
    shortNames:
    - pxc-restore
    - pxc-restores
    singular: perconaxtradbclusterrestore
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster name
      jsonPath: .spec.pxcCluster
      name: Cluster
      type: string
    - description: Job status
      jsonPath: .status.state
      name: Status
      type: string
    - description: Completed time
      jsonPath: .status.completed
      name: Completed
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              backupName:
                type: string
              backupSource:
                properties:
                  azure:
                    properties:
                      container:
                        type: string
                      credentialsSecret:
                        type: string
                      endpointUrl:
                        type: string
                      storageClass:
                        type: string
                    type: object
                  completed:
                    format: date-time
                    type: string
                  conditions:
                    items:
                      properties:
                        lastTransitionTime:
                          format: date-time
                          type: string
                        message:
                          maxLength: 32768
                          type: string
                        observedGeneration:
                          format: int64
                          minimum: 0
                          type: integer
                        reason:
                          maxLength: 1024
                          minLength: 1
                          pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                          type: string
                        status:
                          enum:
                          - "True"
                          - "False"
                          - Unknown
                          type: string
                        type:
                          maxLength: 316
                          pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                          type: string
                      required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                      type: object
                    type: array
                  destination:
                    type: string
                  image:
                    type: string
                  lastscheduled:
                    format: date-time
                    type: string
                  s3:
                    properties:
                      bucket:
                        type: string
                      credentialsSecret:
                        type: string
                      endpointUrl:
                        type: string
                      region:
                        type: string
                    type: object
                  sslInternalSecretName:
                    type: string
                  sslSecretName:
                    type: string
                  state:
                    type: string
                  storage_type:
                    type: string
                  storageName:
                    type: string
                  vaultSecretName:
                    type: string
                type: object
              pitr:
                properties:
                  backupSource:
                    properties:
                      azure:
                        properties:
                          container:
                            type: string
                          credentialsSecret:
                            type: string
                          endpointUrl:
                            type: string
                          storageClass:
                            type: string
                        type: object
                      completed:
                        format: date-time
                        type: string
                      conditions:
                        items:
                          properties:
                            lastTransitionTime:
                              format: date-time
                              type: string
                            message:
                              maxLength: 32768
                              type: string
                            observedGeneration:
                              format: int64
                              minimum: 0
                              type: integer
                            reason:
                              maxLength: 1024
                              minLength: 1
                              pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                              type: string
                            status:
                              enum:
                              - "True"
                              - "False"
                              - Unknown
                              type: string
                            type:
                              maxLength: 316
                              pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                              type: string
                          required:
                          - lastTransitionTime
                          - message
                          - reason
                          - status
                          - type
                          type: object
                        type: array
                      destination:
                        type: string
                      image:
                        type: string
                      lastscheduled:
                        format: date-time
                        type: string
                      s3:
                        properties:
                          bucket:
                            type: string
                          credentialsSecret:
                            type: string
                          endpointUrl:
                            type: string
                          region:
                            type: string
                        type: object
                      sslInternalSecretName:
                        type: string
                      sslSecretName:
                        type: string
                      state:
                        type: string
                      storage_type:
                        type: string
                      storageName:
                        type: string
                      vaultSecretName:
                        type: string
                    type: object
                  date:
                    type: string
                  gtid:
                    type: string
                  type:
                    type: string
                type: object
              pxcCluster:
                type: string
            type: object
          status:
            properties:
              comments:
                type: string
              completed:
                format: date-time
                type: string
              lastscheduled:
                format: date-time
                type: string
              state:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
