name: Run tests
on: [pull_request]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - uses: actions/checkout@v4
      - name: go test
        run: make test
