name: Run tests
on: [pull_request]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - uses: actions/checkout@v6
      - name: go test
        run: make test
